@use '@/assets/styles/main' as *;

.component-open-source {
  .manifesto {
    margin-top: 4rem;
  }

  .paragraph {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1rem;

    a {
      font-size: inherit;
      font-weight: inherit;
    }
  }
}
