@import '@/assets/styles/utilities/mixins';
@import '@/assets/styles/utilities/functions';
@import '@/assets/styles/utilities/variables';

@mixin block-style {
  @include elm-fill;
  @include bordered;
  @include rounded;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  min-height: 5.5rem;
  padding: 0 s(4);
}
