@use '@/assets/styles/main' as *;

#eodiro-home {
  margin: auto;
  min-height: calc(100vh - 20rem);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .header {
    font-size: 8rem;
    padding-top: 5rem;

    .name {
      @include text-color;
      font-weight: 700;
      background-image: linear-gradient(
        to bottom right,
        $eodiro-primary-color,
        $eodiro-yellow-1
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    @include on-mobile {
      font-size: 5rem;
    }
  }

  .manifesto {
    font-size: 2rem;
    font-weight: 600;

    @include on-mobile {
      font-size: 1.5rem;
    }
  }

  .features {
    margin-top: s(12);

    .feature-box {
      position: relative;
      flex: 1;
      text-align: left;
      @include block-style;
      padding: s(6);
      @include clickable;

      .wrapper {
        width: 100%;
      }

      .icon {
        $icon-size: 2.5rem;
        width: $icon-size;
        height: $icon-size;
      }

      .feature-name {
        font-size: h(1);
        font-weight: 600;
        color: $base-gray;
        margin-top: 1rem;
      }
    }
  }
}
