@use '@/assets/styles/main' as *;

#eodiro-home {
  width: calc(100% - 3rem);
  margin: auto;

  .header {
    color: $eodiro-primary-color;
    font-size: 8rem;
    padding-top: 5rem;

    @include on-mobile {
      font-size: 5rem;
    }
  }

  .manifesto {
    font-size: 2rem;
    font-weight: 600;

    @include on-mobile {
      font-size: 1.5rem;
    }
  }

  .features {
    margin-top: s(12);

    .feature-box {
      flex: 1;
      background-color: #fff;
      @include bordered;
      border-radius: r(5);
      padding: s(6);
      text-align: left;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.5;
      }

      .icon {
        $icon-size: 2.5rem;
        width: $icon-size;
        height: $icon-size;
      }

      .feature-name {
        font-size: h(1);
        font-weight: 600;
        color: $base-gray;
        margin-top: 1rem;
      }
    }
  }
}
