@use '@/assets/styles/main' as *;

#eodiro-navigation {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $nav-height;
  z-index: 9999;

  .en-bar {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include separator('bottom');
    background-color: rgba(#fff, 0.8);
    backdrop-filter: blur(30px) saturate(1.7);
    @include dark-mode {
      background-color: rgba($base-black-soft, 0.7);
    }
  }

  .en-wrapper {
    width: 100%;
    max-width: $app-content-max-width;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .home-link {
      display: flex;
      @include clickable;

      .eodiro-logo {
        width: 2.5rem;
        height: auto;
        margin-left: 0.7rem;
      }
    }

    .page-app-title {
      font-size: b(8);
      font-weight: 500;
      line-height: 1;
      opacity: 0;
      transform: translateY(15%);
      transition: opacity 200ms ease, transform 200ms ease;

      @include no-mobile {
        position: absolute;
        left: 4rem;
      }

      &.show {
        opacity: 1;
        transform: translateY(0%);
      }
    }

    .en-menus-container {
      display: flex;
      margin-right: 1.5rem;

      .en-menu-link {
        &.signin,
        &.my {
          font-weight: 600;
        }

        &.signin {
          color: $eodiro-primary-color;
        }

        &.my {
          color: $eodiro-purple-1;
        }

        .en-menu-item {
          font-size: b(2);
          font-weight: fw(4);
          margin-left: s(4);
          @include clickable;
        }
      }
    }

    .more-tappable {
      display: none;
      height: 100%;
      width: 3rem;
      @include clickable;
      margin-right: 0.5rem;
    }
  }

  @include smaller-than(700px) {
    .en-wrapper {
      .en-menus-container {
        display: none;
        flex-direction: column;
        position: absolute;
        top: $nav-height;
        margin: 0;
        width: 100%;
        padding: 1.5rem;
        @include separator('bottom');
        @include elm-fill;
        background-color: rgba(#fff, 0.8);
        backdrop-filter: blur(30px) saturate(1.7);
        @include dark-mode {
          background-color: rgba($base-black-soft, 0.7);
        }

        &.opened {
          display: flex;
        }

        .en-menu-link {
          margin-bottom: 1.5rem;

          &:last-child {
            margin-bottom: 0;
          }

          .en-menu-item {
            font-size: b(6);
            width: 100%;
            margin: 0;
            text-align: right;
          }
        }
      }

      .more-tappable {
        display: flex;
        align-items: center;
        justify-content: center;

        .more-icon {
          height: 50%;
        }
      }
    }
  }
}
