@use '@/assets/styles/main' as *;

#eodiro-navigation {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $nav-height;
  background-color: #fff;
  @include separator('bottom');

  .en-wrapper {
    width: 100%;
    max-width: $master-content-max-width;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .eodiro-logo {
      width: 2.5rem;
      height: auto;
      margin-left: 0.5rem;
    }

    .en-menus-container {
      display: flex;
      margin-right: 1.5rem;

      .en-menu-item {
        font-size: b(2);
        font-weight: fw(4);
        margin-left: s(4);

        &:hover {
          opacity: 0.7;
        }

        &:active {
          opacity: 0.3;
        }
      }
    }
  }
}
