@use '@/assets/styles/main' as *;

#eodiro-signin {
  width: 100%;
  max-width: 17rem;

  .signin-header {
    @include resolve-optical-illusion;
    margin-bottom: s(6);
    text-align: center;
  }

  .signin-box {
    .id {
      margin-bottom: s(3);
    }
  }
}
