@use '@/assets/styles/main' as *;

.eodiro-new-post {
  max-width: 50rem !important;
  min-height: 100vh !important;
  padding-bottom: 0 !important;

  textarea {
    background: transparent;
    height: auto;
    overflow: hidden;
  }

  .title,
  .body {
    border: none;
    box-shadow: none;
    padding: 0;
    border-radius: unset;
    font-size: 1.15rem;
  }

  .title {
    font-size: 1.7rem;
    font-weight: 600;
    height: 2.5em;
    margin-bottom: 1rem;
    padding: 1rem 0;

    @include on-mobile {
      font-size: 25px !important;
    }
  }

  .body-container,
  .title-container {
    position: relative;

    .body {
      line-height: 1.4;
      // min-height: 50vh;
      height: 1.3em;
      padding-bottom: 40vh;
    }

    .shadow {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      visibility: hidden;
    }
  }

  .upload-btn {
    background-color: $eodiro-primary-color;
    border-radius: 1rem 1rem 0 0;
    padding: 0.8rem 1.2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 50rem;
    margin: auto;
    right: 1.5rem;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    @include clickable;
  }
}
