@use '@/assets/styles/main' as *;

#eodiro-app-scaffold {
  @include bg;
  width: 100%;

  #eodiro-app {
    .body-content {
      width: calc(100% - 3rem);
      max-width: $app-content-max-width;
      margin: auto;
      padding: $nav-height 0 5rem 0;
      min-height: calc(100vh - #{$footer-height});
      position: relative;

      &.top-gap {
        padding-top: $nav-height + ss(2);
      }

      &.centered {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .page-app-title {
        position: relative;
        line-height: 1;
        font-size: h(12);
        margin-bottom: s(8);
        display: flex;
        align-items: center;
        @include resolve-optical-illusion(r(4));

        .pat-sentinel {
          position: absolute;
          width: 100%;
          height: 1px;
          top: h(12) - $nav-height;
        }
      }

      .body-content-bottom-sentinel {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        pointer-events: none;
        opacity: 0;
      }
    }
  }
}
