@use '@/assets/styles/utilities/mixins' as *;
@use '@/assets/styles/utilities/functions' as *;

.page-app-title {
  line-height: 1;
  font-size: h(12);
  margin-bottom: s(8);
  display: flex;
  align-items: center;
  @include resolve-optical-illusion(r(4));

  .icon {
    margin-right: s(4);
    height: 1em;
    width: 1em;
  }
}
