@use '@/assets/styles/main' as *;

#eodiro-inquiry-request {
  .title-field {
    @include input-style;
  }
  .email-field {
    @include input-style;
    margin-top: s(6);
  }
  .body-field {
    @include input-style;
    margin-top: s(6);
    height: 15rem;
  }
  .submit-input-container {
    width: 100%;
    margin-top: s(6);
    display: flex;
    justify-content: center;
    .submit-input-arrow-block {
      border-color: transparent;
      width: fit-content;
      align-items: center;
      .submit-input {
        background-color: transparent;
        font-size: b(7);
      }
    }
  }
}
